div#extra {
  float: left;
  width: 200px;
  margin-left: -200px;
  height: 630px;
  background-color: rgb(189, 202, 176);
  border: 1px solid rgb(171, 176, 166);
}

p {
  padding: 10px 5px;
  line-height: 1.8;
}

ul li {
  padding: 10px;
  line-height: 1.6;
  text-align: justify;
}

mat-sidenav {
  width: 400px;
}
