table {
  width: 90%;
  margin-left: 5%;
}

.monitorState {
  color: black;
  position: relative;
  bottom: 5px;
}

.tempratureStatus {
  margin-left: 14%;
}

.mat-row:hover .mat-cell {
  border-color: black;
  color: blue;
}

.mat-row .mat-cell {
  border-top: 1px solid rgb(238, 238, 238);
  cursor: pointer;
}
