<div>
  <form [formGroup]="parentFormGroup!">
    <div formGroupName="swName">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label> switch type </mat-label>
        <input formControlName="switchType" matInput placeholder="Write a switch type" value="" width="300">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label> switch IP </mat-label>
        <input appIp formControlName="switchIP" matInput placeholder="Write a switch IP" value="" width="300">
      </mat-form-field>
    </div>
  </form>
</div>
