  table {
    width: 95%;
    margin: 1% 0 0 2%;
  }

  table th {
    color: black;
    background-color: rgb(221, 229, 226);
  }

  .message {
    margin-left: 19%;
  }

  .monitorDate {
    margin-left: 12%;
  }

  .mat-row:hover .mat-cell {
    background-color: rgb(0, 0, 0);
    color: white;
  }

  .mat-row .mat-cell {
    border-top: 1px solid rgb(238, 238, 238);
    cursor: pointer;
  }

  .statusLevelView {
    position: relative;
    bottom: 7px;
  }
