<body>
  <div id="container">
    <div id="header">
      <button type="button" mat-button (click)="drawer.toggle()" (click)="changeStatus()">
        <div class="hambergur">
          <mat-icon>reorder</mat-icon>
        </div>
      </button>
      <a class="add-monitor" [routerLink]="'add-monitor'">Add monitor</a>
      <a class="monitorList" [routerLink]="'monitorList'">Monitor list</a>
      <a class="reports" [routerLink]="'reports'">Reports</a>
      <a class="home" [routerLink]="'home'">Home</a>
      <a class="about-us" [routerLink]="'about-us'">About us</a>

    </div>
    <div id="wrapper">
      <div #scratch id="content">
        <router-outlet></router-outlet>
      </div>
    </div>

    <div class="sidenav">
      <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
          <h2>Bita</h2>
          <p> In many cases, you need to view the status of the interfaces of a device such as a switch live, some
            of these interfaces must always be UP, and their down will cause network disruption. In Bina, you can add
            your desired interfaces for each device and be informed of the issue by setting the disturbance condition
            if the situation changes.
          </p>
        </mat-drawer>

        <div class="example-sidenav-content">
        </div>
      </mat-drawer-container>
    </div>
    <div id="footer">
      <p></p>
    </div>
  </div>
  <script type="text/javascript">
    AddFillerLink("content", "navigation", "extra")

  </script>
</body>
