$border:rgb(238, 238, 238);
$bg-color: rgb(120, 120, 120);

.main {
  margin: 0.2% 0 0 5%;
  width: 90%;
  border: 1px solid rgb(203, 203, 203);
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.826);
  padding: 15px;
}

h3 {
  text-align: center;
  color: rgb(94, 94, 94);
  font-size: large;
}

.demo-table {
  width: 100%;
}

table {
  text-align: end;
  border-bottom: 1px solid rgb(217, 217, 217);
  width: 99%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid border;
  cursor: pointer;
  background-color: rgba(245, 245, 245, 0.622);
}

.mat-row:hover .mat-cell {
  background-color: rgba(222, 222, 222, 0.633);
  color: black;
}

.demo-row-is-clicked {
  font-weight: bold;
}

table th {
  color: rgb(46, 44, 44);
  background-color: rgba(197, 205, 199, 0.479);
  padding-left: 40px;
  text-align: left;
  border-top: 0.1em solid rgb(201, 201, 201);
}

table td {
  color: rgb(46, 44, 44);
  padding-left: 40px;
  padding-right: 5px;
  text-align: left;
}

table td:first-child {
  border-left: 1px solid border;
}

table td:last-child {
  border-right: 1px solid border;
}

.paginator- {
  color: black;
  padding-right: 4%;
  background-color: rgba(170, 208, 220, 0.474);
}

.deleteButton:hover {
  color: white;
  background-color: $bg-color;
  padding: 10px 0px;
}

.editButton:hover {
  color: white;
  background-color: $bg-color;
  padding: 10px 0px;
}

.delete-list:hover {
  color: red;
}

.edit-list:hover {
  color: blue;
}
